.chat_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-items: center;
  padding: 0.3rem 2rem;
}

.chat_headerInfo {
  margin: 0 1rem;
  flex: 1;
}

.chatBody {
  height: 79%;
  background-color: darksalmon;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-o-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}

.massageBox {
  align-items: center;
}

.otherMassages,
.receiverMassages {
  position: relative;
}

.otherMassages {
  width: max-content;
  margin: 1rem 0.5rem;
  max-width: 20rem;
  padding: 0.2rem 0.5rem;
  background-color: aquamarine;
}
.receiverMassages {
  width: max-content;
  margin: 0.3rem 0.5rem;
  margin-left: auto;
  max-width: 20rem;
  padding: 0.2rem 0.5rem;
  background-color: beige;
}
.massageName {
  position: absolute;
  font-size: 0.8rem;
}

.massageTime {
  font-size: xx-small;
}
